@import './src/styles/mixins';

.loaderScreenBox {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: rgba(0, 0, 0, 0.7);

    .loader {
        @include flexCenter;
        height: 100%;

        img {
            width: 200px;
            height: auto;
        }
    }
}