@import '../../../styles/mixins';

.addPostModal_mainBox {
    @include defaultModalStyle;
    @include flexColumn;
    width: 492px;
    height: 564px;
    background-color: var(--dark-300);

    .addPostModal_header {
        width: 100%;
        border-bottom: 1px solid var(--snippet-border);
        padding: var(--default-Modal-Margin);
        //margin-bottom: 30px;
        @include h1-text-size;
        @include flexBetween;

        .header_button {
            //color: var(--primary-500);
            font-size: 16px;

            &:hover {
                cursor: pointer;
                color: var(--primary-500);
            }
        }
        .header_title {
            pointer-events: none;
        }
        .header_cancel {
            &:hover {
                cursor: pointer;
            }
        }
    }
    //.addPostModal_content {
    //
    //}
}