@import '../../styles/mixins';

.loginPage {

    .container {
        @include defaultContainer;
        @include defaultContainerHeight;

        @media(max-width: 390px) {
            @include defaultContainerHeightMobile;
        }
    }
}