@import '../../../styles/mixins';

.profileSettings_general {
    .general_mainBlock {
        display: flex;
        gap: 30px;
        border-bottom: 1px solid var(--snippet-border);
        margin-bottom: var(--default-Large-Margin);

        .general_photoBlock {
            .avatar {
                position: relative;
                margin-bottom: var(--default-Large-Margin);

                .delete_avatar {
                    position: absolute;
                    top: 30px;
                    left: 175px;

                    &:hover {
                        cursor: pointer;
                        filter: invert(100%);
                    }
                }

                img {
                    border-radius: 50%;
                }
            }
            .addAvatar_btn {
                button {
                    height: 100%;
                }
            }
        }

        .general_infoBlock {
            width: 100%;

            > div {
                margin-bottom: var(--default-Large-Margin);
            }

            .input {

            }
            .textarea {
                width: 100%;
                margin-bottom: 55px;

                textarea {
                    width: 100%;
                }
            }
        }
    }

    .save_btn {
        display: flex;
        justify-content: flex-end;
    }
}