@import '../../styles/mixins';

.layoutContainer {
    min-height: var(--default-Content-Height);
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    flex: 1 1 auto;

    nav {
        width: 220px;
        padding-top: 72px;
        padding-left: var(--default-sidedar-padding);
        padding-right: var(--default-sidedar-padding);
        border-right: 1px solid var(--snippet-border);

        ul {
            li {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            li:not(:last-child) {
                margin-bottom: 24px;
            }

            li:nth-child(3) {
                margin-bottom: 110px;
            }

            li:nth-child(4) {
                margin-bottom: 276px;
            }
        }
    }

    .childrenClass {
        padding-top: var(--default-container-padding-top);
        padding-left: var(--default-container-padding-sides);
        padding-right: var(--default-sidedar-padding);
    }

    @media (max-width: 390px) {
        min-height: var(--default-Content-Height-Mobile);
    }
}
