@import '../../styles/mixins';

.layoutContainer {
    min-height: var(--default-Content-Height);
    max-width: var(--layout-width);
    margin: 0 auto;
    display: flex;
    flex: 1 1 auto;

    nav {
        width: 220px;
        padding-top: 72px;
        padding-left: var(--default-sidedar-padding);
        padding-right: var(--default-sidedar-padding);
        border-right: 1px solid var(--snippet-border);

        .menuList {
            //height: calc(1080px - var(--navbar-height));
            display: flex;
            flex-direction: column;
            //justify-content: space-between;

            .menuList_top {
                margin-bottom: 110px;

                .menuList_item {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    //color: var(--primary-500);
                    //font-weight: bold;
                }
                > div:not(:last-child) {
                    margin-bottom: 24px;
                }
                //&:nth-child(3) {
                //    margin-bottom: 110px;
                //}
            }
            .menuList_bottom {
                margin-bottom: 24px;

                .menuList_item {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                }
            }
        }
    }

    .childrenClass {
        padding-top: var(--default-container-padding-top);
        padding-left: var(--default-container-padding-sides);
        padding-right: var(--default-sidedar-padding);
    }

    @media (max-width: 390px) {
        min-height: var(--default-Content-Height-Mobile);
    }
}
