@import '../../../styles/mixins';

.commentBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;

    .userAvatar {
        //width: 58px;

        img {
            //border-radius: 50%;
            //overflow: hidden;
        }
    }

    .commentItems {
        margin-left: 20px;
        width: 100%;

        .comment {
            width: 85%;

            .commentText {
                font-size: 14px;
                opacity: 0.8;
            }
            .commentUserName {

            }
        }

        .commentSubText {
            margin-top: 5px;
            font-size: 10px;
            opacity: 0.5;

            .commentDate, .answerButton, .commentLikeCount {
                margin-right: 10px;
            }
            .answerButton {
                cursor: pointer;
            }
        }
    }

    .likeButton {
        cursor: pointer;
    }
}