@import '../../styles/mixins';

.profilePageHome {
    margin-bottom: 20px;

    .profilePage_header {
        @include flexBetween;
        gap: 40px;
        margin-bottom: 54px;

        .header_photo {
            img {
                border-radius: 50%;
            }
        }
        .header_info {
            @include divDefaultMarginBottom;

            .info_control {
                @include flexBetween;
                gap: 20px;

                > div:first-child {
                    @include bold-text-16;
                }

                .settings {
                    height: 100%;
                }
            }
            .info_numbers {
                display: flex;
                //gap: 72px;
                flex-wrap: wrap;

                > div:not(:last-child) {
                    margin-right: 70px;
                    padding-bottom: 20px;
                }

                .numbers_item {
                    > div:first-child {
                        margin-bottom: 5px;
                    }
                }
            }
            .info_description {

            }
        }
    }
    .profilePage_content {
        .content_list {
            display: flex;
            //justify-content: center;
            flex-wrap: wrap;
            gap: 10px;

            .list_item {

            }
        }
    }
}