@import '../styles/mixins';

.footer {
    background-color: green;
    height: var(--footer-height);

    .container {
        height: var(--footer-height);
        @include defaultContainer;
        @include flexBetween;
    }
}
