/*---------------Base styles---------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*подключаем шрифты и добавляем его (в строчке html,body)*/
/*
@font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/Mulish-ExtraLight.woff') format('woff'),
    url('./assets/fonts/Mulish-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
*/

/*html,*/
/*body {*/
/*    max-width: 100vw;*/
/*    overflow-x: hidden;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*#__next {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

a {
    color: inherit;
    text-decoration: none;
}

:root {
    /*----------------!* colors *!----------------*/

    /*primary*/
    --primary-100: #73a5ff;
    --primary-300: #4c8dff;
    --primary-500: #397df6;
    --primary-700: #2f68cc;
    --primary-900: #234e99;

    /* green */
    --green-100: #80ffbf;
    --green-300: #22e584;
    --green-500: #14cc70;
    --green-700: #0f9954;
    --green-900: #0a6638;

    /* danger */
    --danger-100: #ff8099;
    --danger-300: #f23d61;
    --danger-500: #cc1439;
    --danger-700: #990f2b;
    --danger-900: #660a1d;

    /* warning */
    --warning-100: #ffd073;
    --warning-300: #e5ac39;
    --warning-500: #d99000;
    --warning-700: #996600;
    --warning-900: #664400;

    /* dark */
    --dark-100: rgba(116, 125, 134, 0.18);
    --dark-300: #46515e;
    --dark-500: #182636;
    --dark-700: #131e2b;
    --dark-900: #0e1720;

    /* light */
    --light-100: #ffffff;
    --light-300: #f7fbff;
    --light-500: #edf3fa;
    --light-700: #d5dae0;
    --light-900: #bdc1c7;

    /*-----------------!* heights *!----------------*/

    --default-Content-Height: calc(100vh - (var(--navbar-height) + var(--footer-height)));
    --default-Content-Height-Mobile: calc(100vh - var(--navbar-height) - var(--footer-height));
    --navbar-height: 60px;
    --footer-height: 40px;

    /*----------------!* sizes *!----------------*/
    --default-Extra-Small-Margin: 5px;
    --default-Small-Margin: 10px;
    --default-Large-Margin: 20px;
    --default-Extra-Large-Margin: 40px;

    /*----------------!* border *!----------------*/
    --snippet-border: rgb(255 255 255 / 16%);
}

/*------------Main (_app.tsx)------------*/

.container {
    /*max-width: 1400px;*/
    /*если нужно ограничить по ширине*/
    max-width: 100vw;
    height: 100%; /*чтобы прибить футер к низу*/
    margin: 0 auto;
    /*overflow: hidden;*/
}

/*---------------scrollbar---------------*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #1876d1;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
    opacity: 0.5;
}

.app::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.app::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
.app::-webkit-scrollbar-thumb {
    background: #1876d1;
}

/* Handle on hover */
.app::-webkit-scrollbar-thumb:hover {
    border: 2px solid #627bff;
}

/*---------------Not Found---------------*/

.notFound {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.notFound div {
    margin-bottom: 20px;
}

.notFound_title {
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.notFound_text a {
    text-decoration: underline;
    color: blue;
    font-size: 18px;
}

.notFoundImage img {
    width: 40vw;
}
