/*---------------Base styles---------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*подключаем шрифты и добавляем его (в строчке html,body)*/
/*
@font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/Mulish-ExtraLight.woff') format('woff'),
    url('./assets/fonts/Mulish-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

#__next {
  height: 100%; width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --navbar-height: 60px;
  --footer-height: 40px;
  font-family: 'Montserrat', sans-serif;
}

/*------------Main (_app.tsx)------------*/

.container {
  /*max-width: 1400px;*/ /*если нужно ограничить по ширине*/
  max-width: 100vw;
  height: 100%; /*чтобы прибить футер к низу*/
  margin: 0 auto;
  overflow: hidden;
}

/*---------------Not Found---------------*/

.notFound {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.notFound div {
  margin-bottom: 20px;
}

.notFound_title {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.notFound_text a {
  text-decoration: underline;
  color: blue;
  font-size: 18px;
}

.notFoundImage img {
  width: 40vw;
}