/*---------------Base styles---------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*подключаем шрифты и добавляем его (в строчке html,body)*/
/*
@font-face {
    font-family: 'Mulish';
    src: url('./assets/fonts/Mulish-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/Mulish-ExtraLight.woff') format('woff'),
    url('./assets/fonts/Mulish-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
*/

/*html,*/
/*body {*/
/*    max-width: 100vw;*/
/*    overflow-x: hidden;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*#__next {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

a {
  color: inherit;
  text-decoration: none;
}

:root {

  /*----------------!* colors *!----------------*/

  /*primary*/
  --primary-100: #73A5FF;
  --primary-300: #4C8DFF;
  --primary-500: #397DF6;
  --primary-700: #2F68CC;
  --primary-900: #234E99;

  /* green */
  --green-100: #80FFBF;
  --green-300: #22E584;
  --green-500: #14CC70;
  --green-700: #0F9954;
  --green-900: #0A6638;


  /* danger */
  --danger-100: #FF8099;
  --danger-300: #F23D61;
  --danger-500: #CC1439;
  --danger-700: #990F2B;
  --danger-900: #660A1D;

  /* warning */
  --warning-100: #FFD073;
  --warning-300: #E5AC39;
  --warning-500: #D99000;
  --warning-700: #996600;
  --warning-900: #664400;

  /* dark */
  --dark-100: #747D86;
  --dark-300: #46515E;
  --dark-500: #182636;
  --dark-700: #131E2B;
  --dark-900: #0E1720;

  /* light */
  --light-100: #FFFFFF;
  --light-300: #F7FBFF;
  --light-500: #EDF3FA;
  --light-700: #D5DAE0;
  --light-900: #BDC1C7;


  /*-----------------!* heights *!----------------*/

  --default-Content-Height: calc(100vh - (var(--navbar-height) + var(--footer-height)));
  --default-Content-Height-Mobile: calc(100vh - var(--navbar-height) - var(--footer-height));
  --navbar-height: 60px;
  --footer-height: 40px;

  /*----------------!* sizes *!----------------*/
  --default-Extra-Small-Margin: 5px;
  --default-Small-Margin: 10px;
  --default-Large-Margin: 20px;
  --default-Extra-Large-Margin: 40px;

}

/*------------Main (_app.tsx)------------*/

.container {
  /*max-width: 1400px;*/
  /*если нужно ограничить по ширине*/
  max-width: 100vw;
  height: 100%; /*чтобы прибить футер к низу*/
  margin: 0 auto;
  /*overflow: hidden;*/
}

/*---------------scrollbar---------------*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #1876D1;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
  opacity: 0.5;
}

.app::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
.app::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
.app::-webkit-scrollbar-thumb {
  background: #1876D1;
}

/* Handle on hover */
.app::-webkit-scrollbar-thumb:hover {
  border: 2px solid #627bff;
}

/*---------------Not Found---------------*/

.notFound {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.notFound div {
  margin-bottom: 20px;
}

.notFound_title {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.notFound_text a {
  text-decoration: underline;
  color: blue;
  font-size: 18px;
}

.notFoundImage img {
  width: 40vw;
}