@import '../styles/mixins';

.header {
    height: var(--navbar-height);
    background-color: green;
    //position: fixed;

    .container {
        height: var(--navbar-height);
        @include defaultContainer;
        @include flexBetween;

        .header_logo {
            @include flexBetween;
            gap: 10px;

            img {
                width: 50px;
                height: 50px;
            }
        }
        .header_login {

        }
    }
}

