@import 'variables';

// container mixin
@mixin defaultContainer() {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
}
// container height
@mixin defaultContainerHeight() {
    height: $defaultContentHeight;
    overflow-y: auto;
}
@mixin defaultContainerHeightMobile() {
    height: $defaultContentHeightMobile;
    overflow-y: auto;
}

// flex mixins
@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexOnlyBetween() {
    display: flex;
    justify-content: space-between;
}

@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexColumnOnly() {
    display: flex;
    flex-direction: column;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// default modal-window styles
@mixin defaultModalStyle() {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: $defaultLargeMargin;
    transform: translate(-50%, -50%);
    background-color: $themeColorDark;
    //border-radius: $largeBorderRadius;
    border: 1px solid white;
    color: white;
}