/*----------------!* Typography *!----------------*/
@mixin large-text {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
};

@mixin h1-text-size {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
};

@mixin h2-text-size {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
};

@mixin h3-text-size {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
};

@mixin regular-text-16 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
};

@mixin regular-text-14 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
};

@mixin bold-text-16 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
};

@mixin bold-text-14 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
};

@mixin medium-text-14 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
};

/*----------------!* Container *!----------------*/

// container mixin
@mixin defaultContainer() {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}
// container height
@mixin defaultContainerHeight() {
    height: var(--default-Content-Height);
    //overflow-y: auto;
}
@mixin defaultContainerHeightMobile() {
    height: var(--default-Content-Height-Mobile);
    overflow-y: auto;
}

/*----------------!* Flex Mixins *!----------------*/

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexOnlyBetween() {
    display: flex;
    justify-content: space-between;
}

@mixin flexBetween() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexColumnOnly() {
    display: flex;
    flex-direction: column;
}

@mixin flexColumn() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------------!* Default Modal-Window Styles *!----------------*/
@mixin defaultModalStyle() {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    padding: var(--default-Large-Margin);
    transform: translate(-50%, -50%);
    background-color: var(--theme-Color-Dark);
    border: 1px solid white;
    color: white;
}
