// height
$defaultContentHeight: calc(100vh - var(--navbar-height));
$defaultContentHeightMobile: calc(100vh - var(--navbar-height) - var(--footer-height));

// colors
$themeColorWhite: white;
$themeColorSomeWhite: #f8f8f8;
$themeColorMilk: #C0C0C0;
$themeColorGray: #5C636A;
$themeColorDark: #33373B;
$themeColorBlack: black;

$headerColor: #1876D1;
$headerColorHover: #1c508a;

// containers
$containerWidth: 1400px;

// border-radius
//$extraSmallBorderRadius: 5px;
//$smallBorderRadius: 10px;
//$largeBorderRadius: 20px;

// default margins and paddings
$defaultExtraSmallMargin: 5px;
$defaultSmallMargin: 10px;
$defaultLargeMargin: 20px;
$defaultExtraLargeMargin: 40px;

// buttons
//$smallButtonPadding: 10px 20px;
//$largeButtonPadding: 15px 20px;
//$largeButtonHeight: 50px;

// text
$minLineHeight: 1.2;