@import '../../../styles/mixins';

.photoFiltersModal_content {
    width: 100%;
    @include flexOnlyBetween;
    gap: 40px;
    overflow: hidden;

    .content_image {
        border: 1px solid var(--snippet-border);

        img {
            object-fit: contain;
        }
    }
    .content_filters {
        width: 100%;
        border: 1px solid white;
        @include flexCenter;
        gap: 25px;
        flex-wrap: wrap;

        .filter_item {
            .item_image {
                border: 1px solid white;
                width: 100px;
                height: 100px;
            }
            .item_title {
                text-align: center;
            }
        }
    }
}