.devices_mainBox {
    .this_devices {
        .title {
            margin-bottom: 10px;
        }
        .contentBox {
            margin-bottom: 20px;
        }
        .terminate_btn {
            text-align: right;
        }
    }

}
