@import '../../../styles/mixins';

.publicationModal_content {
    width: 100%;
    @include flexOnlyBetween;
    gap: 40px;
    overflow: hidden;

    .content_image {

    }

    .content_publication {
        width: 100%;
        margin-top: 20px;

        .publication_info {
            .info_header {
                display: flex;
                align-items: center;
                gap: 10px;

                .header_avatar {

                }
                .header_userName {

                }
            }
            .info_textarea {

            }
        }
        .publication_addLocation {

        }
        .publication_location {

        }
    }
}

//.publicationModal_mainBox {
//    @include defaultModalStyle;
//    display: flex;
//    flex-direction: column;
//    width: 972px;
//    height: 564px;
//    background-color: var(--dark-300);
//    border: 1px solid #4C4C4C;
//    border-radius: 2px;
//    padding: var(--default-Modal-Margin);
//
//    .publicationModal_header {
//        display: flex;
//        justify-content: space-between;
//        align-items: center;
//        width: 100%;
//        border-bottom: 1px solid var(--snippet-border);
//        padding: var(--default-Modal-Margin);
//        margin-bottom: 30px;
//    }
//
//    .publicationModal_content {
//        display: flex;
//        flex-direction: row;
//        justify-content: space-between;
//        align-items: flex-start;
//        height: calc(100% - 100px);
//
//        .content_image {
//            width: 50%;
//            height: 100%;
//            border-right: 1px solid var(--snippet-border);
//
//            img {
//                width: 100%;
//                height: 100%;
//                object-fit: cover;
//            }
//        }
//
//        .content_right {
//            display: flex;
//            flex-direction: column;
//            justify-content: flex-start;
//            align-items: flex-start;
//            width: 50%;
//            padding: var(--default-Modal-Margin);
//
//            .content_description {
//                margin-top: 40px;
//                margin-bottom: 10px;
//            }
//
//            .content_textArea {
//                width: 433px;
//                height: 120px;
//                border-radius: 2px;
//                background-color: var(--dark-500);
//                border: 1px solid #4C4C4C;
//                resize: none;
//                margin-bottom: 40px;
//            }
//
//            .content_location {
//                display: flex;
//                align-items: center;
//                border-top: 1px solid var(--snippet-border);
//                border-bottom: 1px solid var(--snippet-border);
//                width: 450px;
//                padding: 24px 0; // to create some space around the "Add location"
//
//                img {
//                    margin-right: 8px;
//                }
//            }
//
//        }
//    }
//}
