.devices_mainBox {
    .account_types {
        .title {
            margin-bottom: 10px;
        }
        .contentBox {
            margin-bottom: 20px;
            label:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    .pay_system {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
}
