.devices_mainBox {
    .account_types {
        .title {
            margin-bottom: 10px;
        }
        .contentBox {
            margin-bottom: 20px;
            label:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}
