@import '../../../styles/mixins';

.addPostModal_mainBox {
    @include defaultModalStyle;
    @include flexColumn;
    //width: 350px;
    width: 492px;
    height: 564px;
    background-color: var(--dark-300);

    .addPostModal_header {
        width: 100%;
        border-bottom: 1px solid var(--snippet-border);
        padding: var(--default-Modal-Margin);
        margin-bottom: 30px;
        @include h1-text-size;
        @include flexBetween;

        .header_cancel {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .addPostModal_content {
        @include flexColumn;
        margin: 50px 0;

        .content_image {
            @include flexCenter;
            width: 220px;
            height: 220px;
            background-color: var(--header-color);
            margin-bottom: 50px;
        }
        .content_addButton {
            width: 100%;

            button {
                width: 220px;
                height: 100%;
            }
        }
    }
}