@import '../../styles/mixins';

.header {
    border-bottom: 1px solid var(--snippet-border);
    height: var(--navbar-height);
    background-color: var(--header-color);
    color: var(--light-100);
    padding: 12px 60px;
    @include large-text;
}
