@import '../../styles/mixins';

.headerWrapper {
    border-bottom: 1px solid var(--snippet-border);
    height: var(--navbar-height);
    background-color: var(--header-color);
    color: var(--light-100);
    @include large-text;

    .header {
        max-width: var(--layout-width);
        height: var(--navbar-height);
        padding: 12px 60px;
        margin: 0 auto;
        @include flexBetween;

        .header_logo {
            width: 220px;
            display: flex;
            align-items: center;
            gap: 10px;

            &:hover {
                cursor: pointer;
            }
            > div {
                &:hover {
                    cursor: pointer;
                    color: gold;
                }
            }

            .logo {

            }

            .title {

            }
        }

        .lang {
            //width: 175px;
            display: flex;
            gap: 10px;
            font-size: 20px;

            > div {
                &:hover {
                    cursor: pointer;
                    color: orange;
                }
            }

            .active {
                color: orange;
            }
        }

        .auth {
            width: 100px;
            display: flex;
            align-items: center;
            gap: 10px;
            @include regular-text-16;

            > div {
                &:hover {
                    cursor: pointer;
                    color: gold;
                }
            }
        }
    }
}