@import '../../styles/mixins';

.messageModal_mainBox {
    @include defaultModalStyle;
    @include flexColumn;
    width: 350px;
    background-color: var(--dark-300);

    .messageModal_header {
        width: 100%;
        border-bottom: 1px solid var(--snippet-border);
        padding: var(--default-Modal-Margin);
        margin-bottom: 30px;
        @include h1-text-size;
        @include flexBetween;

        .header_cancel {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .messageModal_title {
        margin-bottom: 18px;
        padding: 0 24px;
    }
    .messageModal_buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        margin-bottom: 30px;
        padding: 0 24px;
    }
}