@import '../../../styles/mixins';

.container {
    background-color: var(--dark-500);
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 378px;
    color: var(--light-100);
    margin: 0 auto;
    padding: 24px;
    border: 1px solid var(--dark-300);
    border-radius: 2px;

    @media (max-width: 390px) {
        @include defaultContainerHeightMobile;
    }

}
