@import "src/styles/mixins";

.form {
    @include flexColumnOnly;
    text-align: center;
    gap: 24px;
    width: 100%;

    .title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
    }

    .imgBody {
        @include flexCenter;
        gap: 60px;
        margin-top: 13px;

        .img {
            width: 36px;
            height: 36px;
        }
    }

    .forgot {
        align-self: center;
        font-style: normal;
        @include regular-text-16;
        color: var(--light-900);
        margin-top: 60px;
    }

    .btn {
        width: 100%;
    }

    .subtitle {
        font-style: normal;
        @include regular-text-16;
        margin: 18px 0 12px;
    }

    .link {
        font-style: normal;
        @include h3-text-size;
        color: var(--primary-500);
    }

    .inputContainer {
        position: relative;
        width: 100%;
        @include flexColumnOnly;
        gap: 34px;
        margin-bottom: 5px;

        p {
            position: absolute;
            text-align: start;
            bottom: -55px;
            font-style: normal;
            @include regular-text-14;
            color: var(--light-900)
        }

        .inputBody {
            @include flexColumnOnly;
            position: relative;

            h3 {
                align-self: start;
                font-style: normal;
                @include regular-text-16;
                color: var(--dark-100);
            }

            .input {
                display: inline-block;
                position: relative;
                outline: none;
                background-color: transparent;
                border: none;
                width: 100%;
                height: 30px;
                padding: 5px;
                @include regular-text-16;
                color: var(--light-900);
                border-bottom: 1px solid var(--dark-300);
            }

            .img, svg {
                position: absolute;
                right: 10px;
                bottom: 5px;
            }
        }
    }

    .captcha {
        border: 1px solid var(--dark-300);
        @include flexOnlyBetween;
        padding: 14.5px 20px;
        margin: 0 10px;

        .checkboxBody {
            display: flex;
            align-items: center;
            gap: 5px;

            input {
                width: 20px;
                height: 20px;
            }

            div {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: var(--light-100);
            }
        }
    }
}


