@import '../../styles/mixins';

.footer {
    background-color: var(--header-color);
    height: var(--footer-height);
    display: none;

    width: 390px;
    position: fixed;
    bottom: 0;
    left: 0;

    @media(max-width: 390px) {
        display: block;
    }

    .container {
        height: var(--footer-height);

        .items {
            height: var(--footer-height);
            @include flexBetween;
            gap: 10px;
            padding: 0 40px;
        }
    }
}
