@import '../../styles/mixins';

.container {
    width: 400px;
    height: 570px;
    margin: 90px auto;
    text-align: center;
    @include flexColumnBetween;

    .title {
        @include h1-text-size;
    }

    .button {
        min-width: 200px;
    }
}