@import '../../../styles/mixins';

.textarea_wrapper {
    position: relative;
    border-radius: 4px;
    min-width: 250px;
    height: 100px;

    .placeholder {
        color: var(--dark-100);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    textarea {
        resize: none;
        width: 100%;
        height: 100%;
        padding: 10px;
        border: 1px solid var(--snippet-border);
        background-color: var(--header-color);
        @include regular-text-16;
        color: var(--light-900);
        font-family: inherit;

        &:focus {
            border: 1px solid var(--light-900);
            outline: none;
        }
    }

    ::placeholder {
        color: white;
        opacity: 0.7;
    }
}

.errorMessage {
    position: absolute;
    color: var(--danger-500);
    left: 0;
    top: 135px;
    @include regular-text-16;
}